.brand-logo img {
    height: 150px;
}

nav.nav-extended {
    background-color: #eba50e;
    height: 150px;
}

nav .brand-logo {
    top: -45px;
}

.nav-wrapper a {
    color: #160eed;
        
}

.nav-wrapper li a {
    border: 2px solid #160eed;
    border-radius: 5px;
    margin: 10px;
    min-width: 113px;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.homepage-text {
    background-color: #cfe1ff;
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
}

.homepage-text h1 {
    margin-top: 1rem;
}

.sidenav {
    background-color: #cfe1ff;
}

.sidenav li>a {
    color: #160eed;
}

.search-panel {
    margin-bottom: 2rem;
}

.search-btns {
    min-width: 86px;
    background-color: #160eed;
    color: #eba50e;
    margin-bottom: 3px;
}

.search-btns:hover {
    background-color: #040aba;
}

.slide-dishname {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

.slick-slide img {
    height: 220px;
    width: 220px;
}

.cta-btn {
    background-color: #225ef5;
    border-radius: 2px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
}

.cta-btn:hover {
    animation: unset;
}

@keyframes glowing {
  0% {
    background-color: #160eed;
    box-shadow: 0 0 3px #160eed;
  }
  50% {
    background-color: #225ef5;
    box-shadow: 0 0 10px #225ef5;
  }
  100% {
    background-color: #160eed;
    box-shadow: 0 0 3px #160eed;
  }
}

@media (min-width: 600px) {
      .valign-wrapper-600 {
          display: flex;
          align-items: center;
      }
}

@media (min-width: 992px) {
        nav .brand-logo {
        top: -29px;
    }
}