body {
    background-color: #f9f9f9;
}

.brand-logo img {
    height: 150px;
}

nav.nav-extended {
    background-color: #eba50e;
    height: 150px;
}

nav .brand-logo {
    top: -43px;
}

.nav-wrapper a {
    color: #160eed;
}

.nav-wrapper li a {
    color: #eba50e;
    font-weight: bold;
}

.nav-wrapper .btn-large {
    background-color: #160eed;
    border-radius: 5px;
}

.nav-wrapper .btn-large:hover {
    background-color: #040aba;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

.homepage-text {
    background-color: #cfe1ff;
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
}

.homepage-text h1 {
    margin-top: 1rem;
}

.sidenav {
    background-color: #cfe1ff;
}

.sidenav li>a {
    color: #160eed;
}

.search-panel {
    margin-bottom: 2rem;
}

.btn {
    min-width: 86px;
    background-color: #160eed;
    color: #eba50e;
    margin-bottom: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #040aba;
}

button:focus {
    background-color: #f9f9f9;
}

.card-panel {
    margin-top: 2.5rem;
}

.slide-dishname {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
}

.slick-slide img {
    height: 180px;
    width: 180px;
    filter: drop-shadow(2px 4px 6px #585858);
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
}

.slick-slide {
    text-align: center;
}

.slick-prev {
    position: absolute;
    bottom: 50%;
    left: 0px;
}

.slick-next {
    position: absolute;
    bottom: 50%;
    right: 0px;
}

.recipe-template-img {
    filter: drop-shadow(2px 4px 6px #585858);
    margin: 1.5rem 0 2rem;
    border-radius: 10px;
    max-width: 100%;
}

.input-field.col label {
    left: 2rem;
}

.input-field>label:not(.label-icon).active {
        transform: translateY(-25px)
}

.cta-btn {
    background-color: #225ef5;
    border-radius: 5px;
    border: none;
    color: #eba50e;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    animation: glowing 1300ms infinite;
    margin-right: 8px;
}

.cta-btn:hover {
    animation: unset;
}

@keyframes glowing {
  0% {
    background-color: #160eed;
    box-shadow: 0 0 3px #160eed;
  }
  50% {
    background-color: #225ef5;
    box-shadow: 0 0 10px #225ef5;
  }
  100% {
    background-color: #160eed;
    box-shadow: 0 0 3px #160eed;
  }
}

/* stackoverflow soltuion for bold list numbers */

.method-list {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.method-list > li {
  margin: 0 0 8px;
  padding: 0 0 0 2em;
  text-indent: -2em;
  list-style-type: none;
  counter-increment: item;
}

.method-list > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.user-recipes {
    height: 1200px;
    overflow: auto;
    padding: 2rem;
    min-width: 100%;
}

.user-recipes p,
.user-recipes li {
    text-align: left;
    padding-left: 1rem;
}

.user-recipes img {
    padding: 1rem;
}

.login-requirements {
    color: #ff0000;
    font-size: 12px;
    text-align: center;
}

@media (min-width: 600px) {
      .valign-wrapper-600 {
          display: flex;
          align-items: center;
      }
}


@media (min-width: 600px) {
        .slick-slide img {
        height: 220px;
        width: 220px;
    }
}

@media (min-width: 900px) {
    .slick-prev {
        left: -40px;
    }

    .slick-next {
        right: -40px;
    }

    .slick-slide {
        padding: 10px;
    }
}