{% extends "base.html" %}
{% block content %}


{% if session.user %}

<h3 class="center-align">Add Recipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <div class="row">
            <div class="input-field col s12">
                 <textarea id="dish_name" name="dish_name" minlength="3" maxlength="50" type="text" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required></textarea>
                <label for="dish_name">Dish Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="prep_time" name="prep_time" type="text" onkeypress="validate(event)" class="validate"  required></textarea>
                <label for="prep_time">Prep Time: (in minutes)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="cook_time" name="cook_time" type="text" onkeypress="validate(event)" class="validate"  required></textarea>
                <label for="cook_time">Cook Time: (in minutes)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="ingredients" name="ingredients" pattern="^[a-zA-Z0-9]{5,15}$" type="text" class="validate"  required></textarea>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="method" name="method" pattern="^[a-zA-Z0-9]{5,15}$" type="text" class="validate"  required></textarea>
                <label for="method">Method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="image_url" name="image_url" type="text" class="validate"  required></textarea>
                <label for="image_url">Image URL - if you have one</label>
            </div>
        </div>
        <div class="row">
            <div class="co s16 center-align">
                <button class="btn waves-effect waves-light" type="submit" >Submit</button>
            </div>
        </div>
    </form>
</div>

{% else %}

<h3 class="center-align red-text">You must be logged in to add a recipe</h3>

<h3 class="center-align">Log In</h3>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" 
                    maxlength="15" pattern="^[a-zA-Z-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix"></i>
                    <input id="password" name="password" type="password" minlength="5"
                    maxlength="15" pattern="^[a-zA-Z-9]{5,15}$" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="col s12 btn-large">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            New Here?
            <a href="{{ url_for('register') }}">Register Account</a>
        </p>
    </div>
</div>

{% endif %}

{% endblock %}