{% extends "base.html" %}
{% block content %}

<div class="hero-text">
    <h1>Piece of Cake: Delicious Desserts that are a Piece of Cake to Make</h1>
    <p><a href="{{ url_for('register') }}">Sign up</a> and submit your own recipes, or simply browse the delicious
        desserts already provided by our members.</p>
</div>



<div class="slideshow">
    {% for info in recipe %}
    <div>
        <a href="{{ url_for('recipe_template', recipe_id=info._id) }}">{{ info.dish_name }}</a>
        <a href="{{ url_for('recipe_template', recipe_id=info._id) }}"><img src="{{ info.image_url }}" alt="" onerror="this.src='/static/img/img_pending.jpg'"></a>
        <p>Prep time: {{ info.prep_time }} minutes</p>
        <p>Cook time: {{ info.cook_time }} minutes</p>
    </div>
    
    {% endfor %}
</div>



{% endblock %}