{% extends "base.html" %}
{% block content %}

<div class="homepage-text">
    <h1>Piece of Cake: Delicious Desserts that are a Piece of Cake to Make</h1>
</div>

<div class="row card-panel search-panel">
    <form action="{{ url_for('search') }}" method="post" class="col s12">
        <div class="center-align valign-wrapper-600">
            <div class="input-field col s12 m8">
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Have something in mind?</label>
            </div>
            <div class="col s12 m4">
                <button type="submit" class="search-btns btn">Search</button>
                <a href="{{ url_for('get_recipes') }}" class="search-btns btn">Reset</a>
            </div>
        </div>
    </form>
</div>

{% if recipe|length > 0 %}
<div class="slideshow">
    {% for info in recipe %}
    <div>
        <a href="{{ url_for('recipe_template', recipe_id=info._id) }}" class="slide-dishname"><b>{{ info.dish_name }}</b></a>
        <a href="{{ url_for('recipe_template', recipe_id=info._id) }}"><img src="{{ info.image_url }}" alt="" onerror="this.src='/static/img/img_pending.jpg'"></a>
        <p><b>Prep time:</b> {{ info.prep_time }} minutes</p>
        <p><b>Cook time:</b> {{ info.cook_time }} minutes</p>
    </div>
    
    {% endfor %}
</div>
{% else %}
    <h2>No Results Found</h2>
{% endif %}

<div class="homepage-text">
    <p><a href="{{ url_for('register') }}" class="cta-btn">Sign up</a> and submit your own recipes, or simply browse the delicious
        desserts already provided by our members.</p>
</div>

{% endblock %}